body {

  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  padding: 10px;
  color: #000;
  border: 2px solid;
  border-color: transparent;
  &:hover {
    color: #fff;

    border-color: #2E2F30;
    background: orange;
    position: relative;
  }

}

h1 {
  color: green;
  text-align: center;
}

table {
  margin: 0px auto;
}

tbody {

}

th {

  padding-bottom: 5px;
  border: 1px solid;
  background: orange;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid;
}

h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

div {
  margin: auto;
  text-align: center;
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#new, #newmicropost {
  padding: 10px;
  border: 1px dotted;
  background: orangered;

}

#new:hover, #newmicropost:hover {
  background-color: black;
}

#options:hover {
  background-color: green;
}

#error_explanation {
  &:hover {
    background-color: chocolate;
  }
  &:hover h2 {
    background-color: black;
  }
  &:hover li {
    font-size: large;
  }
}

#notice {
  color: green;
  background: orangered;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#submit {
  padding: 10px;
  background-color: green;
  color: white;
}

.field_with_errors{

  padding: 2px;
display: table;
  background-color: red;

}


